// Heading Color
$heading-color: #fdb700;

// Text Color
$text-color: #a7895a;

// Default Background
$bg-default: #ffff;

// Gray Background
$bg-gray: #e1e1e1;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #00c4d9;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;
